    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

   <app-layout></app-layout>

    <!-- Js Plugins -->
    <script src="assets/Template/js/jquery-3.3.1.min.js"></script>
    <script src="assets/Template/js/bootstrap.min.js"></script>
    <script src="assets/Template/js/jquery.nice-select.min.js"></script>
    <script src="assets/Template/js/jquery.nicescroll.min.js"></script>
    <script src="assets/Template/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/Template/js/jquery.countdown.min.js"></script>
    <script src="assets/Template/js/jquery.slicknav.js"></script>
    <script src="assets/Template/js/mixitup.min.js"></script>
    <script src="assets/Template/js/owl.carousel.min.js"></script>
    <script src="assets/Template/js/main.js"></script>