<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option"></div>
    <div id="mobile-menu-wrap"></div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Entrega GRÁTIS para todo o Brasil.</p>
                    </div>
                    <div *ngIf="isClienteLogado()" class="header__top__left">
                        <p>Olá {{ nomeCliente }}, temos uma seleção de ofertas especiais para você!</p>
                      </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <button *ngIf="!isClienteLogado(); else logoffButton" id="login" class="header__top__links__button" (click)="openLoginModal()">LOGIN</button>

                            <ng-template #logoffButton>
                              <button id="logoff" class="header__top__links__button"(click)="logoff()">LOGOFF</button>
                            </ng-template>                   
                        </div>
                        <div class="header__top__hover">
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                   <a [routerLink]="['/']">
                       <img src="assets/Template/img/logo.png" alt="">
                     </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                       <li class="active"><a [routerLink]="['/']">Home</a></li>
                        <li><a href="#">Páginas</a>
                            <ul class="dropdown">
                                <li><a [routerLink]="['/cliente']">Cadastre-se</a></li>
                                <li><a [routerLink]="['/carrinho']">Carrinho</a></li>
                                <li><a [routerLink]="['/about']">Sobre</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option"></div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->

<main>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
<main>

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="assets/Template/img/footer-logo.png" alt=""></a>
                    </div>
                    <p>O cliente está no centro do nosso modelo de negócio único, que inclui design.</p>
                    <a href="#"><img src="assets/Template/img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Loja de Roupas</a></li>
                        <li><a href="#">Sapatos em Alta</a></li>
                        <li><a href="#">Acessórios</a></li>
                        <li><a href="#">Promoção</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Entre em Contato Conosco</a></li>
                        <li><a href="#">Formas de Pagamento</a></li>
                        <li><a href="#">Entrega</a></li>
                        <li><a href="#">Trocas e Devoluções</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>Novidades</h6>
                    <div class="footer__newslatter">
                        <p>Seja o primeiro a saber sobre novidades, catálogos de moda, promoções e descontos!</p>
                        <form action="#">
                            <input type="text" placeholder="Seu E-mail">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>2023
                        Todos os direitos reservados
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>

<!-- Login Modal Begin -->
<div id="login" class="login-modal" *ngIf="showLoginModal">
    <div class="modal-content">
      <span class="close" (click)="closeLoginModal()">&times;</span>
      <h2>Login</h2>
      <form (ngSubmit)="login()">
        <div>
          <label for="username">CPF ou E-mail:</label>
          <input type="text" id="username" name="username" [(ngModel)]="username" required>
        </div>
        <div>
          <label for="password">Senha:</label>
          <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <div>
            <a [routerLink]="['/']" class="primary-btn" (click)="login()">Login</a>
        </div>
      </form>
    </div>
  </div>
  <!-- Login Modal End -->