   <div>
   <!-- Shopping Cart Section Begin -->
   <section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>Quantidade</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of carrinho">
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img [src]="item.imagem" alt="">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>{{ item.descricao }}</h6>
                                        <h5>R$ {{ item.valor.toLocaleString('pt-BR', { minimumFractionDigits: 2 }) }}</h5>
                                        
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <input type="text" [(ngModel)]="item.quantidade" (blur)="atualizarQuantidade(item)">
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">R$ {{ (item.valor * item.quantidade).toLocaleString('pt-BR', { minimumFractionDigits: 2 }) }}</td>
                                <td class="cart__close">
                                    <i class="fa fa-close" (click)="removerItem(item.id)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a [routerLink]="['/']">Continuar Comprando</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="#"><i class="fa fa-spinner"></i> Avançar / Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__total">
                    <h6>Valor Total</h6>
                    <ul>
                        <li>Subtotal <span>R$ {{ calcularSubtotal().toLocaleString('pt-BR', { minimumFractionDigits: 2 }) }}</span></li>
                        <li>Total <span>R$ {{ calcularTotal().toLocaleString('pt-BR', { minimumFractionDigits: 2 }) }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->
</div>